body {
background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
text-align: center;
font-family: Helvetica;
color: White;}

#Home,
#Process,
#Work,
#Team,
#Contact {
  font-size: 18px;
  text-decoration: underline;
  text-decoration-color: White;
}

h1 {
  font-size: 70px;
  font-weight:bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

.titles {
  font-size: 32px;
  font-weight: bold;
}

.explanations {
  font-size: 14px;
}

.NY {
  font-size: 23px;
  font-weight: bold;
}

.one,
.two {
  background-color: white;
  color: black;
}

.three {
  font-size: 11px !important;
  text-align: left;
  color: white;
  background-color: dimgray;
  text-decoration: none !important;>
}

a {
  color: white;
}

a visited {
color: #cecece;
}

a: active {
  color: #ffff00;
}
